/* CProblem.css */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #020202;
  text-align: center;
  padding: 10px;
}

.table th {
  background-color: #ced6e1;
}

.link-text {
  text-decoration: none; /* Remove underline */
  color: black; /* Default link color */
}

.link-text:active {
  color: #8a98ad; /* Change color when clicked */
}
